.circulo1 {
    width: 20rem;
    height: 20rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffee0086;
    position: relative;
    top: 5rem;
    left: 40%;
    border-style: dashed;
}
.circulo2 {
    width: 20rem;
    height: 20rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #001aff71;
    position: relative;
    top: 0rem;
    left: 40%;
    border-style: dashed;
}
.circulo3 {
    width: 20rem;
    height: 20rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #09fd0171;
    position: relative;
    bottom: 28rem;
    left: 30%;
    border-style: dashed;
}
.circulo4 {
    width: 20rem;
    height: 20rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ff000071;
    position: relative;
    bottom: 48rem;
    left: 50%;
    border-style: dashed;
}